*.iml
.gradle
.kotlin
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
app/build
wear/build
shared/build
*.keystore
*.jks
key.properties
build-tools/
*.zip
/android-env/
/setup-android-env.ps1
/_winget_jdk.log
